header.header
  nav.header__nav
    h2.header__nav__top
      a(href=`${path}index.html`)
        img.header__nav__top__logo(src=`${path}img/logo.png`, alt=``)
    ul.header__nav__ul
      li.header__nav__ul__li
        a(href=`${path}page/html-css/index.html`) HTML/CSS
      li.header__nav__ul__li
        a(href=`${path}page/js/index.html`) JS
      li.header__nav__ul__li
        a(href=`${path}page/react/index.html`) REACT
      li.header__nav__ul__li
        a(href=`${path}page/python/index.html`) PYTHON
      li.header__nav__ul__li
        a(href=`${path}page/java/index.html`) JAVA
      li.header__nav__ul__li
        a(href=`${path}page/fullstack/index.html`) FULLSTACK
      li.header__nav__ul__li
        a(href=`${path}page/other/index.html`) OTHER
