header.header
  nav.header__nav
    h2.header__nav__top
      a(href=`${path}index.html`)
        img.header__nav__top__logo(src=`${path}img/logo.png`, alt=``)
    ul.header__nav__ul
      li.header__nav__ul__li
        a(href=`${path}index.html`) HOME
      li.header__nav__ul__li
        a(href=`${path}page/about/index.html`) HTML/CSS
      li.header__nav__ul__li
        a(href=`${path}page/about/index.html`) JS
      li.header__nav__ul__li
        a(href=`${path}page/news/index.html`) REACT
      li.header__nav__ul__li
        a(href=`${path}page/contact/index.html`) PYTHON
      li.header__nav__ul__li
        a(href=`${path}page/contact/index.html`) JAVA
